apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 5.43.5
    releaseName: argocd
    namespace: argocd
    valuesFile: helm-values.yaml
