apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 7.8.13
    releaseName: argocd
    namespace: argocd
    valuesFile: helm-values.yaml
    apiVersions:
      - monitoring.coreos.com/v1
