global:
  extraEnv:
    - name: OTLP_ENDPOINT
      value: "tempo-distributor.observability.svc.cluster.local:4318"
    - name: OTLP_INSECURE
      value: "true"

hugohoster:
  image:
    pullPolicy: Always # TODO: IfNotPresent
    tag: "develop"

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

  # -- Hugo Hosting general settings
  settings:
    enabled: true
    name: settings
    spec:
      ## Ref: https://github.com/hugo-hoster/hugo-hoster/blob/1b01b9106650e55c8d30298a2a4b781cff446a0c/api/v1alpha1/setting_types.go#L24
      ingressClassName: nginx
      serving_url: https://f003.backblazeb2.com/file
      nginxProxyReplica: 1
      tls:
        enable: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
      s3_config:
        endpoint: https://s3.eu-central-003.backblazeb2.com
        bucketname: cedi-testing
        secretName: s3secret
        accessKeyIdKeyName: accessKeyId
        accessKeyKeyName: accessKey
