apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hugo-hoster

helmCharts:
  - name: hugo-hoster
    repo: https://spechtlabs.github.io/helm-charts
    version: 0.0.8
    releaseName: hugo-hoster
    namespace: hugo-hoster
    valuesFile: helm-values.yaml
