apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability

helmCharts:
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    version: 7.2.0
    releaseName: grafana
    namespace: observability
    valuesFile: helm-values.yaml
