apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

resources:
  - ../../../bases/hcloud-csi

patches:
  - target:
      kind: Deployment
      name: hcloud-csi-controller
      namespace: kube-system
      version: v1
    patch: |-
      - op: replace
        path: "/spec/template/spec/containers/3/env/4/valueFrom/secretKeyRef/name"
        value: hetzner
      - op: replace
        path: "/spec/template/spec/containers/3/env/4/valueFrom/secretKeyRef/key"
        value: hcloud
